.blue-background {
  background-color: rgb(114, 152, 209);
}
.blue-font {
  color: rgb(99, 132, 182);
}

.blue-border {
  border-color: rgb(188, 201, 219);
}

.blue-border:focus {
  outline: none;
  border-color: rgb(114, 152, 209);
}

.font-dark-blue {
  color: rgb(60, 83, 117);
}
